node-linker=isolated
shamefully-hoist=true
# public-hoist-pattern[]=@ember/*
# public-hoist-pattern[]=@glimmer/*
# public-hoist-pattern[]=@glint/*
# public-hoist-pattern[]=tslib
# public-hoist-pattern[]=rsvp