// Main app styles, text and bg colors can be changed if you want.

$text-color: #5c3600;
$bg-color: #fbd6a2;

* {
  font-family: Lexend, sans-serif;
}
body {
  background: $bg-color;
  color: $text-color;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  // Align the header content to the left, and make it 100% wide. Add padding on all sides to make it look nice. Inline all the elements inside the header.
  background: $bg-color;
  color: $text-color;
  text-align: left;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  gap: 0.3em;
  padding: 0.8em;
  font-size: 1.2em;
  flex-shrink: 0;

  * {
    display: inline;
  }
  .title {
    font-weight: 600;
  }
  .separator {
    font-weight: 400;
  }
  .page {
    font-weight: 400;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em;
  flex-shrink: 0;
}