// Main app styles, text and bg colors can be changed if you want.
@use 'fx';


:root {
  --bg-color: #fbd6a2;
  --text-color: #5c3600;
  --hl-color: #f2c78a;
}

$text-color: var(--text-color);
$bg-color: var(--bg-color);
$hl-color: var(--hl-color);

* {
  font-family: Lexend, sans-serif;
}
body {
  background: $bg-color;
  color: $text-color;
  font-family: Lexend, sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.heading {
  font-family: 'Fraunces';
  font-weight: 600;
  font-variation-settings: 'opsz' 34, 'SOFT' 72, 'WONK' 1;
}

.header {
  // Align the header content to the left, and make it 100% wide. Add padding on all sides to make it look nice. Inline all the elements inside the header.
  background: $bg-color;
  position: sticky;
  color: $text-color;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.3em;
  padding: 0.8em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 1.2em;
  flex-shrink: 0;
  top: 0;
  box-sizing: border-box;

  .back-button {
    position: absolute;
    margin-left: 0;
    button {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      color: $text-color;
      font-size: inherit;
      background: $bg-color;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      height: 30px;
      cursor: pointer;
      .icon {
        height: 24px;
        width: auto;
      }
      .label {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    
  }
  .page {
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
    flex-grow: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 0.5em;
  flex: 1 0 auto;
  box-sizing: border-box;
  .nav-button {
    background: $hl-color;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    padding: 10px;
    @include fx.pixel-corners-6;
    color: $text-color;
    text-decoration: none;
    padding-right: 15px;
    .icon {
      height: 24px;
      width: auto;
    }
    .label {
      margin-top: auto;
      margin-bottom: auto;
    }
    .arrow {
      flex-grow: 1;
      justify-content: end;
      display: flex;
      svg {
        height: 24px;
        width: auto;
        transform: rotate(180deg);
      }
    }
  }
}

.footer {
  box-sizing: border-box;
  background: $bg-color !important;
  position: sticky;
  display: flex;
  bottom: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: flex-end;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  background-color: var(--bg-color);
  .button {
    color: $text-color;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.4em;
    @include fx.pixel-corners-6;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    .icon {
      width: 30px;
      height: 30px;
    }
    &.active {
      background-color: $text-color;
      color: $bg-color;
    }
  }
}