/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

$text-color: #5c3600;
$bg-color: #fbd6a2;

* {
  font-family: Lexend, sans-serif;
}
body {
  background: $bg-color;
  color: $text-color;
}