<div class="header" style="background-color:{{styles.background}};color:{{styles.text}}">
  <div class="title">
    <div class="product">Articleman</div>
    <div class="separator">&gt;</div>
    <div class="page">{{page}}</div>
  </div>
</div>