<div>
  <div class="header {{class}}">
    <div class="inner">
      <div class="title">
        {{title}}
      </div>
      <div class="separator">
        &gt;
      </div>
      <div class="page">
        {{page}}
      </div>
    </div>
  </div>
</div>