<div>
  <div class="heading {{class}}">
    <div class="inner">
      <div style="font-weight:600;">
        {{title}}
      </div>
      <div style="font-weight:500;">
        &gt;
      </div>
      <div style="font-weight:500;">
        {{page}}
      </div>
    </div>
  </div>
</div>
<style>
  .heading .inner * {
    display: inline;
    font-size: 1.5em;
  }
  .heading {
    padding: 0.8em;
  }
</style>