<div class="header">
  <div class="inner">
    <div class="status">
      <div class="inner">
      </div>
    </div>
    <div class="title">
      {{title}}
    </div>
    <div class="separator">
      &gt;
    </div>
    <div class="page">
      {{page}}
    </div>
  </div>
</div>