<div>
  <div class="heading {{class}}">
    <div class="inner">
      <div style="font-weight:600;font-size:2em;">
        {{title}}
      </div>
      <div style="font-weight:500;font-size:1.2em;">
        &gt;
      </div>
      <div style="font-weight:500;font-size:1.2em;">
        {{page}}
      </div>
    </div>
  </div>
</div>
<style>
  .heading .inner * {
    display: inline;
  }
  .heading {
    padding: 0.5em;
    background: #000;
    color: #fff;
  }
</style>