<html>
  <head>
    <title>Articleman</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend:400,500,600,700">
    <style>
      
      .tmbg-loading * {
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-direction: alternate;
        animation-fill-mode: both;
        opacity: 0;
        animation-timing-function: ease-in-out;
      }
      .tmbg-loading #tmbg-1 {
        animation-delay: 0.3s !important;
      }
      .tmbg-loading #tmbg-2 {
        animation-delay: 1.1s !important;
      }
      .tmbg-loading #tmbg-3 {
        animation-delay: 2.5s !important;
      }
      .tmbg-loading #tmbg-4 {
        animation-delay: 3.7s !important;
      }
      #downwarning {
        animation: fadein 1s linear 12s 1;
        opacity: 0;
        animation-fill-mode: both;
      }
      @keyframes fadein {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="tmbg-loading">
        <p id="tmbg-1">
          Article man, article man.
        </p>
        <p id="tmbg-2">
          Doing the things a manager can.
        </p>
        <p id="tmbg-3">
          How does it work? It&apos;s open source,
        </p>
        <p id="tmbg-4">
          Article man.
        </p>
      </div>
      <p id="downwarning" style="font-size: 0.5em">There isn&apos;t currently a page loaded. If this screen stays up, there&apos;s been a problem preventing Articleman from loading. Contact blue linden or the maintainer of your instance, and check the error logs or your browser console if you can.</p>
    </div>
  </body>
</html>